<% was_validated = comment.errors.any? %>

<%= form_with(model: comment, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% picture_class = "form-control" %>
    <% picture_was_invalid = comment.errors.include?(:picture) %>

    <% if was_validated %>
      <% if picture_was_invalid %>
        <% picture_class << " is-invalid" %>
      <% else %>
        <% picture_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :picture_id %>
    <%= f.collection_select :picture_id, Picture.all, :id, :to_s, {}, class: "form-control" %>
    <% if picture_was_invalid %>
      <% comment.errors.full_messages_for(:picture).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% text_class = "form-control" %>
    <% text_was_invalid = comment.errors.include?(:text) %>

    <% if was_validated %>
      <% if text_was_invalid %>
        <% text_class << " is-invalid" %>
      <% else %>
        <% text_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :text %>
    <%= f.text_area :text, class: text_class, placeholder: "Enter text" %>
    <% if text_was_invalid %>
      <% comment.errors.full_messages_for(:text).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% created_by_class = "form-control" %>
    <% created_by_was_invalid = comment.errors.include?(:created_by) %>

    <% if was_validated %>
      <% if created_by_was_invalid %>
        <% created_by_class << " is-invalid" %>
      <% else %>
        <% created_by_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :created_by %>
    <%= f.collection_select :created_by, User.all, :id, :to_s, {}, class: "form-control" %>
    <% if created_by_was_invalid %>
      <% comment.errors.full_messages_for(:created_by).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
