<% was_validated = user.errors.any? %>

<%= form_with(model: user, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% username_class = "form-control" %>
    <% username_was_invalid = user.errors.include?(:username) %>

    <% if was_validated %>
      <% if username_was_invalid %>
        <% username_class << " is-invalid" %>
      <% else %>
        <% username_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :username %>
    <%= f.text_field :username, class: username_class, placeholder: "Enter username" %>
    <% if username_was_invalid %>
      <% user.errors.full_messages_for(:username).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% first_name_class = "form-control" %>
    <% first_name_was_invalid = user.errors.include?(:first_name) %>

    <% if was_validated %>
      <% if first_name_was_invalid %>
        <% first_name_class << " is-invalid" %>
      <% else %>
        <% first_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: first_name_class, placeholder: "Enter first name" %>
    <% if first_name_was_invalid %>
      <% user.errors.full_messages_for(:first_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% last_name_class = "form-control" %>
    <% last_name_was_invalid = user.errors.include?(:last_name) %>

    <% if was_validated %>
      <% if last_name_was_invalid %>
        <% last_name_class << " is-invalid" %>
      <% else %>
        <% last_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: last_name_class, placeholder: "Enter last name" %>
    <% if last_name_was_invalid %>
      <% user.errors.full_messages_for(:last_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% user_type_class = "form-control" %>
    <% user_type_was_invalid = user.errors.include?(:user_type) %>

    <% if was_validated %>
      <% if user_type_was_invalid %>
        <% user_type_class << " is-invalid" %>
      <% else %>
        <% user_type_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :user_type %>
    <%= f.text_field :user_type, class: user_type_class, placeholder: "Enter user type" %>
    <% if user_type_was_invalid %>
      <% user.errors.full_messages_for(:user_type).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% phone_number_class = "form-control" %>
    <% phone_number_was_invalid = user.errors.include?(:phone_number) %>

    <% if was_validated %>
      <% if phone_number_was_invalid %>
        <% phone_number_class << " is-invalid" %>
      <% else %>
        <% phone_number_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, class: phone_number_class, placeholder: "Enter phone number" %>
    <% if phone_number_was_invalid %>
      <% user.errors.full_messages_for(:phone_number).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
