<%= form_with(model: @comment, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :picture_id %>

    <%= f.collection_select :picture_id, Picture.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :text %>
    <%= f.text_area :text, rows: "3", class: "form-control" %>
  </div>

  <%= f.hidden_field :created_by, value: @user.id %>

  <%= f.submit "Create comment", class: "btn btn-block btn-outline-secondary" %>
<% end %>
