<%= form_with(model: @friendship, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :friend1_id %>

    <%= f.text_field :friend1_id, class: "form-control" %>
  </div>

  <%= f.hidden_field :friend2_id, value: @user.id %>

  <%= f.submit "Create friendship", class: "btn btn-block btn-outline-secondary" %>
<% end %>
