<%= form_with(model: @picture, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :rapid_id %>

    <%= f.collection_select :rapid_id, Rapid.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :uploaded_by, value: @user.id %>

  <div class="form-group">
    <%= f.label :picture %>

    <%= f.file_field :picture, class: "form-control" %>
  </div>

  <%= f.submit "Create picture", class: "btn btn-block btn-outline-secondary" %>
<% end %>
