<%= form_with(model: @like, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :picture_id %>

    <%= f.collection_select :picture_id, Picture.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :liked_by, value: @user.id %>

  <%= f.submit "Create like", class: "btn btn-block btn-outline-secondary" %>
<% end %>
