<!-- Form comment start -->
<%= form_with(model: @comment, local: true) do |f| %>
<!-- Form comment end -->

  <!-- Label and input for picture_id start -->
  <div class="form-group">
    <%= f.label :picture_id %>

    <!-- Input for picture_id start -->
    <%= f.text_field :picture_id, class: "form-control" %>
    <!-- Input for picture_id end -->
  </div>
  <!-- Label and input for picture_id end -->

  <!-- Label and input for text start -->
  <div class="form-group">
    <%= f.label :text %>
    <!-- Input for text start -->
    <%= f.text_area :text, rows: "3", class: "form-control" %>
    <!-- Input for text end -->
  </div>
  <!-- Label and input for text end -->

  <!-- Label and input for created_by start -->
  <!-- Input for created_by start -->
  <%= f.hidden_field :created_by, value: @user.id %>
  <!-- Input for created_by end -->
  <!-- Label and input for created_by end -->

  <%= f.submit "Create comment", class: "btn btn-block btn-outline-secondary" %>
<% end %>
