<%= form_with(model: @rapid, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :name %>

    <%= f.text_field :name, class: "form-control" %>
  </div>

  <%= f.hidden_field :river_id, value: @river.id %>

  <div class="form-group">
    <%= f.label :location %>

    <%= f.text_field :location, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>

    <%= f.text_field :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :difficulty %>

    <%= f.text_field :difficulty, class: "form-control" %>
  </div>

  <%= f.submit "Create rapid", class: "btn btn-block btn-outline-secondary" %>
<% end %>
