<div class="card mb-3">
  <h2 class="card-header h4">
    Picture #<%= picture.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Rapid</dt>
      <!-- Display rapid_id start -->
      <dd><%= picture.rapid_id %></dd>
      <!-- Display rapid_id end -->

      <dt>Uploaded by</dt>
      <!-- Display uploaded_by start -->
      <dd><%= picture.uploaded_by %></dd>
      <!-- Display uploaded_by end -->

      <dt>Picture</dt>
      <!-- Display picture start -->
      <dd>
        <%= cl_image_tag @picture.picture, class: "img-fluid" %>
      </dd>
      <!-- Display picture end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back picture, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link picture start -->
      <div class="col">
        <% if current_user == @picture.rafter %>
          <%= link_to edit_picture_url(picture), class: "btn btn-block btn-sm btn-outline-secondary" do %>
            <i class="fas fa-edit"></i>
          <% end %>
        <% end %>
      </div>
      <!-- Edit link picture end -->

      <!-- Delete link picture start -->
      <div class="col">
        <% if current_user == @picture.rafter %>
          <%= link_to picture, method: :delete, data: { confirm: "Do you really want to delete this picture?" }, class: "btn btn-block btn-outline-secondary" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
      <!-- Delete link picture end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(picture.updated_at) %> ago
  </div>
</div>
