<% was_validated = picture.errors.any? %>

<%= form_with(model: picture, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% rapid_class = "form-control" %>
    <% rapid_was_invalid = picture.errors.include?(:rapid) %>

    <% if was_validated %>
      <% if rapid_was_invalid %>
        <% rapid_class << " is-invalid" %>
      <% else %>
        <% rapid_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :rapid_id %>
    <%= f.collection_select :rapid_id, Rapid.all, :id, :to_s, {}, class: "form-control" %>
    <% if rapid_was_invalid %>
      <% picture.errors.full_messages_for(:rapid).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.hidden_field :uploaded_by, value: current_user.id %>
  <div class="form-group">
    <% picture_class = "form-control" %>
    <% picture_was_invalid = picture.errors.include?(:picture) %>

    <% if was_validated %>
      <% if picture_was_invalid %>
        <% picture_class << " is-invalid" %>
      <% else %>
        <% picture_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :picture %>
    <%= f.file_field :picture, class: "form-control" %>
    <% if picture_was_invalid %>
      <% picture.errors.full_messages_for(:picture).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
