<% was_validated = picture.errors.any? %>

<%= form_with(model: picture, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for rapid_id start -->
  <div class="form-group">
    <% rapid_class = "form-control" %>
    <% rapid_was_invalid = picture.errors.include?(:rapid) %>

    <% if was_validated %>
      <% if rapid_was_invalid %>
        <% rapid_class << " is-invalid" %>
      <% else %>
        <% rapid_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :rapid_id %>
    <!-- Input for rapid_id start -->
    <%= f.number_field :rapid_id, class: rapid_class, placeholder: "Enter rapid" %>
    <!-- Input for rapid_id end -->
    <% if rapid_was_invalid %>
      <% picture.errors.full_messages_for(:rapid).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for rapid_id end -->
  <!-- Label and input for uploaded_by start -->
  <div class="form-group">
    <% uploaded_by_class = "form-control" %>
    <% uploaded_by_was_invalid = picture.errors.include?(:uploaded_by) %>

    <% if was_validated %>
      <% if uploaded_by_was_invalid %>
        <% uploaded_by_class << " is-invalid" %>
      <% else %>
        <% uploaded_by_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :uploaded_by %>
    <!-- Input for uploaded_by start -->
    <%= f.number_field :uploaded_by, class: uploaded_by_class, placeholder: "Enter uploaded by" %>
    <!-- Input for uploaded_by end -->
    <% if uploaded_by_was_invalid %>
      <% picture.errors.full_messages_for(:uploaded_by).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for uploaded_by end -->
  <!-- Label and input for picture start -->
  <div class="form-group">
    <% picture_class = "form-control" %>
    <% picture_was_invalid = picture.errors.include?(:picture) %>

    <% if was_validated %>
      <% if picture_was_invalid %>
        <% picture_class << " is-invalid" %>
      <% else %>
        <% picture_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :picture %>
    <!-- Input for picture start -->
    <%= f.file_field :picture, class: "form-control" %>
    <!-- Input for picture end -->
    <% if picture_was_invalid %>
      <% picture.errors.full_messages_for(:picture).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for picture end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
