<%= form_with(model: @like, local: true) do |f| %>

  <%= f.hidden_field :picture_id, value: @picture.id %>

  <div class="form-group">
    <%= f.label :liked_by %>

    <%= f.collection_select :liked_by, User.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create like", class: "btn btn-block btn-outline-secondary" %>
<% end %>
