<%= form_with(model: @comment, local: true) do |f| %>

  <%= f.hidden_field :picture_id, value: @picture.id %>

  <div class="form-group">
    <%= f.label :text %>
    <%= f.text_area :text, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :created_by %>

    <%= f.collection_select :created_by, User.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create comment", class: "btn btn-block btn-outline-secondary" %>
<% end %>
