<div class="card mb-3">
  <h2 class="card-header h4">
    Rapid #<%= rapid.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Name</dt>
      <dd><%= rapid.name %></dd>

      <dt>River</dt>
      <dd>
        <% if @rapid.river.present? %>
          <%= link_to rapid.river, rapid.river %>
        <% end %>
      </dd>

      <dt>Location</dt>
      <dd>
        <div>
          <%= render partial: "rapids/one_photo_map" %>
        </div>
      </dd>

      <dt>Description</dt>
      <dd><%= rapid.description %></dd>

      <dt>Difficulty</dt>
      <dd><%= rapid.difficulty %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back rapid, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_rapid_url(rapid), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to rapid, method: :delete, data: { confirm: "Do you really want to delete this rapid?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(rapid.updated_at) %> ago
  </div>
</div>
