<%= form_with(model: @picture, local: true) do |f| %>

  <%= f.hidden_field :rapid_id, value: @rapid.id %>

  <%= f.hidden_field :uploaded_by, value: current_user.id %>

  <div class="form-group">
    <%= f.label :picture %>

    <%= f.file_field :picture, class: "form-control" %>
  </div>

  <%= f.submit "Create picture", class: "btn btn-block btn-outline-secondary" %>
<% end %>
